/* This is the stylesheet for the dropdown bar(s) */
/* Dropdown bar */
.dropdown-hover {
  position:relative;
  display:inline-block;
  cursor:pointer
  }
.dropdown-content{
  display:block
}
.bar-item{
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0
}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
   
}
.bar-block{
}
