.coffebtn{
  background:url() no-repeat;
  display:block;
  height:100px;
  width:100px;
  Border-radius:50%;
  border:1px solid gray;
}
  
h1 {
  text-align: center;
}
@font-face {
  font-family: lulocleanone;
  src: url(/Fonts/yellow_design_studio_-_lulo_clean_one-webfont.woff2);
  src: url(/Fonts/yellow_design_studio_-_lulo_clean_one-webfont.woff);
}
h1 {
  font-family: lulocleanone;
}

h2 {
  text-align: center;
  font-size: 20;
  font-familt: lulocleanone
}
